<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Users</h2>
<table border="1">
    <tr>
        <th>name</th>
    </tr>
    <tr th:each = "user: ${users}">
        <td><a th:href="'/user/show/' + ${user.id}" th:text="${user.name} + ' ' + ${user.surname}"></a></td>
        <td><a th:href="'/user/edit/' + ${user.id}"><button>Edit</button></a></td>
        <td><a th:href="'/user/deleteUser/' + ${user.id}"><button>Delete</button></a></td>
    </tr>
</table>
<a href="/user/add/"><button>Add user</button></a>
</body>
</html>